bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
[Cc]onfig.json
DbConfig.json
**/Scaffold/fosscordContext.cs
.vs/
.idea/
.vscode/
RunData/
Resources/RunData/
Spacebar.API/Resources/Pages/index-updated.html
Spacebar.API/Resources/Assets/user.css
Spacebar.Gateway/unknown_events/
Spacebar.Gateway/dump/
Spacebar.Gateway/dump.tar.xz
event_dump/
assets/
Spacebar.Gateway/data.bin
Spacebar.Gateway/datadec.bin
*.DotSettings.user
