bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Config.json
DbConfig.json
**/Scaffold/fosscordContext.cs
.vs/
.idea/
.vscode/
RunData/
Resources/RunData/
Fosscord.API/cache/
Fosscord.API/Resources/Pages/index-updated.html
Fosscord.API/Resources/Assets/user.css
Fosscord.Gateway/unknown_events/
Fosscord.Gateway/dump/
Fosscord.Gateway/dump.tar.xz
